/* Reset default styles */
* { margin: 0; padding: 0; box-sizing: border-box; }

/*color schema*/
/*:root represnt global settings*/
:root{
    --primary-color:rgb(250, 238, 224);
    --secondary-color:rgb(104, 7, 5);
    --acent-color:rgb(15, 0, 110);
}
.root {
font-style: sherif;
font-size:larger;
background-color: var(--primary-color);
font-style:oblique;
text-align: center;
}

img{
     display: block;
    size: 130px;
    width: 15%;
    margin-left: auto;
  margin-right: auto;
  clip-path: circle(40%);
}
.link{
    display: flex;
    justify-content:space-around
}
.list{
    display: flex;
}


h1{
    color: var(--secondary-color);
    font-style: normal;
    text-align: center;
}
h2{
    color: var(--secondary-color);
    font-style: normal;
    
}
@media (min-width: 600px) {
    .h1,h2 {grid-area: 1 / span 6;}
}